
/* NAVBAR STYLE */
.nav{
    font-family: 'Bungee';
    font-size: 15px;
    margin: 0 2px 0 2px;
}
.navbar-brand .logo{
    width: 150px;
    height: 45px;
}
.navmargin{
    margin-right: 30px;
}
/* HOME STYLE */
.Po{
    font-family: 'Agbalumo';
    font-size: 25px;
    margin-left: 150px;
}
.Po .hey{
    color: #663A85;
    font-size: 35px; 
    margin-right: 10px;
}
.Pt{
    font-family: 'Bungee';
    color: #663A85;
    font-size: 60px;
}
.Pth{
    font-family: 'Bungee';
    font-size: 20px;
}
.Pf{
    font-family: 'Zen Loop';
    font-size: 26px;
    font-weight: 900;

}
.Pfv{
    font-family: 'Bungee';
    background-color: #663A85;
    border: 2px solid #663A85;
    border-radius: 30px;
    width: 200px;
    color: #BE9FE1;
}
.Pfv:hover{
    font-family: 'Bungee';
    border: 2px solid #BE9FE1;
    border-radius: 30px;
    width: 200px;
    transition: .5s;
    color: #700B97;
}
.Ps{
    font-family: 'Bungee';
    border: 2px solid #663A85;
    border-radius: 30px;
    width: 200px;
    color: #700B97;
}
.Ps:hover{
    font-family: 'Bungee';
    background-color: #BE9FE1;
    border-radius: 30px;
    width: 200px;
    color: #700B97;
    transition: .5s;
}
.me1{
    height: 80vh;
}
.img1{
    top: 240px;
    right: 90px;
    width: 200px;
    height: 200px;
}
.img2{
    top: 220px;
    left: 600px;
    width: 250px;
    height: 250px;
}
.img3{
    top: 270px;
    left: 120px;
    width: 70px;
    height: 70px;
}

/* ABOUT STYLE */
.aboutbg{
    background-color: #663A85;
}
.aboutname{
    font-family: 'Bungee';
    font-size: 50px;
    color: #BE9FE1;
    padding-left: 20px;
    
}
.about{
    font-family: 'Comfortaa';
    font-size: 20px;
    font-weight: 800;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.img4{
    bottom: 0;
    right: 0;
    width: 330px;
    height: 200px;
}
.img8{
    top: 120px;
    left: 230px;
    width: 400px;
    height: 400px;
}
.img9{
    top: 100px;
    right: 270px;
    width: 130px;
    height: 130px;
}
.me2{
    height: 80vh;
}

/* EDUCATION STYLE */
.bg{
    background-color: #BE9FE1;
}
.educname{
    font-family: 'Bungee';
    font-size: 50px;
    color: #663A85;
    padding-top: 50px;
}
.educhead{
    font-family: 'Anton';
    font-size: 20px;
}
.educbody{
    font-family: 'Arimo';
    font-size: 20px;
}
.img5{
    top: 78px;
    left: 40px;
    width: 150px;
    height: 150px;
}
.img6{
    top: 37px;
    right: 380px;
    width: 150px;
    height: 150px;
}
.card{
    height: 30vh;
    width: 90%;
}
.icon{
    height:2em;
}

/* SKILLS STYLE */
.skillsname{
    font-family: 'Bungee';
    font-size: 50px;
    color: #663A85;
    padding-top: 50px;
}
.img7{
    top: 15px;
    right: 460px;
    width: 100px;
    height: 100px;
}
.skill{
    height: 70vh; 
    width: 100%;
}
.skillrow{
    height: 100vh;
}

/* WORKS STYLE */
.worksname{
    font-family: 'Bungee';
    font-size: 50px;
    color: #663A85;
}
.skillsbg{
    background-color: #663A85;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #663A85;
    height: 10px;
}
.carou1{
    font-family: 'Bungee';
    font-weight: bold;
    color: #663A85;
    
}
.carou{
    font-family: 'Bungee';
    font-weight: bold;
    color: #BE9FE1;
    
}
.img10{
    top: 110px;
    right: 230px;
    width: 100px;
    height: 100px;
}
.img12{
    top: 35px;
    left: 300px;
    width: 100px;
    height: 100px;
}
.work1{
    width: 30%;
}
.imgcarou{
    
    height: 50vh;
}
.work2{
    width: 40%;
}

/* CONTACTS STYLE */
.contactsbg{
    background-color: #BE9FE1;
}
.contactborder{
    background-color: #663A85;
    border: 10px ridge #663A85;
    height: 70vh; 
    width: 80%;
}
.contactshname{
    color: #BE9FE1;
    font-size: 20px;
    font-family: 'Anton';
}
.contactsname{
    color: #BE9FE1;
    font-size: 17px;
    font-weight: 900;
    font-family: 'Comfortaa';
}
.inputform{
    width: 400px;
    margin: auto;
}
.contactbtn{
    font-family: 'Bungee';
    border-radius: 20px;
    border: 3px solid #663A85;
    background-color: #BE9FE1;
    width: 200px ;
    margin: auto;
}
.contactbtn:hover{
    font-family: 'Bungee';
    border-radius: 20px;
    border: 3px solid #663A85;
    background-color: #663A85;
    color: #BE9FE1;
}
.img13{
    width: 200px;
    height: 250px;
    bottom: 0;
    left: 0;
    padding: 0;
}
.img14{
    right: 0;
    width: 250px;
    height: 250px;
}
.img15{
    top: 180px;
    left: 330px;
    width: 450px;
    height: 450px;
}
.contactshead{
    font-family: 'Bungee';
    font-size: 50px;
    color: #663A85;
}


/* Agbalumo */
/* Bungee */
/* Rubik Mono One */
/* Zen Loop */
/* Anton */
/* Comfortaa */
/* Arimo */
/* Shadows Into Light */
/* color: #C7A5EC; */
/* color: #663A85; */
/* color: #BE9FE1; */



/* ----------RESPONSIVE--------- */
/* NAVBAR RESPONSIVE */    
    @media only screen and (max-width:1441px) {

    }
    @media only screen and (max-width:1025px) {
        .nav{
            font-family: 'Bungee';
            font-size: 15px;
            margin: 0 3px 0 3px;
        }
        .navbar-brand .logo{
            width: 300px;
            height: 50px;
        }
        .navmargin{
            margin-right: 30px;
        }
        
    }
    @media only screen and (max-width:769px) {
        .nav{
            font-family: 'Bungee';
            font-size: 15px;
            margin: 0 3px 0 3px;
        }
        .navbar-brand .logo{
            width: 300px;
            height: 50px;
        }
        .navmargin{
            margin-right: 30px;
        }
        
    }
    @media only screen and (max-width:426px) {
        .nav{
            font-family: 'Bungee';
            font-size: 9.5px;
            margin: auto 2px auto 2px;
        }
        .navbar-brand .logo{
            width: 300px;
            height: 50px;
        }
        .navmargin{
            margin-right: 0;
        }
        .navbar{
            padding: 0;
        }
        
    }
    @media only screen and (max-width:376px) {
        .nav{
            font-family: 'Bungee';
            font-size: 8.6px;
            margin: auto 2px auto 2px;
        }
        .navbar-brand .logo{
            width: 300px;
            height: 50px;
        }
        .navmargin{
            margin-right: 0;
        }
        .navbar{
            padding: 0;
        }
    }

/* HOME RESPONSIVE */
    @media only screen and (max-width:1441px) {

    }
    @media only screen and (max-width:1025px) {
        .Po{
            font-family: 'Agbalumo';
            font-size: 25px;
            margin-left: 50px;
        }
        .Po .hey{
            color: #663A85;
            font-size: 35px; 
            margin-right: 10px;
        }
        .Pt{
            font-family: 'Bungee';
            color: #663A85;
            font-size: 50px;
        }
        .Pth{
            font-family: 'Bungee';
            font-size: 20px;
        }
        .Pf{
            font-family: 'Zen Loop';
            font-size: 25px;
            font-weight: 900;
        
        }
        .Pfv{
            font-family: 'Bungee';
            background-color: #663A85;
            border: 2px solid #663A85;
            border-radius: 30px;
            width: 200px;
            color: #BE9FE1;
        }
        .Pfv:hover{
            font-family: 'Bungee';
            border: 2px solid #BE9FE1;
            border-radius: 30px;
            width: 200px;
            transition: .5s;
            color: #700B97;
        }
        .Ps{
            font-family: 'Bungee';
            border: 2px solid #663A85;
            border-radius: 30px;
            margin-top: 5px;
            width: 200px;
            color: #700B97;
        }
        .Ps:hover{
            font-family: 'Bungee';
            background-color: #BE9FE1;
            border-radius: 30px;
            margin-top: 5px;
            width: 200px;
            color: #700B97;
            transition: .5s;
        }
        .me1{
            height: 70vh;
        }
        .img1{
            top: 340px;
            right: 20px;
            width: 200px;
            height: 200px;
        }
        .img2{
            top: 290px;
            left: 450px;
            width: 250px;
            height: 250px;
        }
        .img3{
            top: 310px;
            left: 60px;
            width: 70px;
            height: 70px;
        }
        
    }
    @media only screen and (max-width:769px) {
        .Po{
            font-family: 'Agbalumo';
            font-size: 22px;
            margin-left: 50px;
        }
        .Po .hey{
            color: #663A85;
            font-size: 32px; 
            margin-right: 10px;
        }
        .Pt{
            font-family: 'Bungee';
            color: #663A85;
            font-size: 50px;
        }
        .Pth{
            font-family: 'Bungee';
            font-size: 18px;
        }
        .Pf{
            font-family: 'Zen Loop';
            font-size: 20px;
            font-weight: 900;
        
        }
        .Pfv{
            font-family: 'Bungee';
            background-color: #663A85;
            border: 2px solid #663A85;
            border-radius: 30px;
            width: 200px;
            color: #BE9FE1;
        }
        .Pfv:hover{
            font-family: 'Bungee';
            border: 2px solid #BE9FE1;
            border-radius: 30px;
            width: 200px;
            transition: .5s;
            color: #700B97;
        }
        .Ps{
            font-family: 'Bungee';
            border: 2px solid #663A85;
            border-radius: 30px;
            margin-top: 5px;
            width: 200px;
            color: #700B97;
        }
        .Ps:hover{
            font-family: 'Bungee';
            background-color: #BE9FE1;
            border-radius: 30px;
            margin-top: 5px;
            width: 200px;
            color: #700B97;
            transition: .5s;
        }
        .me1{
            height: 550px;
            width: 400px;
        }
        .img1{
            top: 290px;
            right: 0px;
            width: 200px;
            height: 200px;
        }
        .img2{
            top: 290px;
            left: 300px;
            width: 250px;
            height: 250px;
        }
        .img3{
            top: 300px;
            left: 10px;
            width: 70px;
            height: 70px;
        }
        
    }
    @media only screen and (max-width:426px) {
        .Po{
            margin-top: 140px;
            font-size: 20px;
            margin-left: 100px;
        }
        .Po .hey{
            font-size: 22px;
        }
        .Pt{
            font-size: 40px;
        }
        .Pth{
            font-size: 15px;
        }
        .Pf{
            font-size: 20px;
        }
        .Pfv{
            width: 150px;
            font-size: 13px;
        }
        .Ps{
            width: 150px;
            font-size: 13px;
        }
        .Pfv:hover{
            border: 2px solid #BE9FE1;
            color: #700B97;
            transition: .5s;
            width: 150px;
        }
        .Ps:hover{
            background-color: #BE9FE1;
            color: #700B97;
            transition: .5s;
            width: 150px;
        }
        .me1{
            height: 350px;
            width: 350px;
        }
        .img1{
            top: 420px;
            right: 40px;
            width: 180px;
            height: 180px;
        }
        .img2{
            top: 430px;
            left: 10px;
            width: 170px;
            height: 170px;
        }
        .img3{
            top: 200px;
            left: 60px;
            width: 50px;
            height: 50px;
        }
    }
    @media only screen and (max-width:376px) {
        .Po{
            margin-top: 130px;
            font-size: 18px;
            margin-left: 50px;
        }
        .Po .hey{
            font-size: 20px;
        }
        .Pt{
            font-size: 40px;
        }
        .Pth{
            font-size: 15px;
        }
        .Pf{
            font-size: 20px;
        }
        .Pfv{
            width: 150px;
            font-size: 13px;
        }
        .Ps{
            width: 150px;
            font-size: 13px;
        }
        .Pfv:hover{
            border: 2px solid #BE9FE1;
            color: #700B97;
            transition: .5s;
            width: 150px;
        }
        .Ps:hover{
            background-color: #BE9FE1;
            color: #700B97;
            transition: .5s;
            width: 150px;
        }
        .me1{
            height: 350px;
            width: 350px;
        }
        .img1{
            top: 460px;
            right: 20px;
            width: 150px;
            height: 150px;
        }
        .img2{
            top: 450px;
            left: 0;
            width: 130px;
            height: 130px;
        }
        .img3{
            top: 200px;
            left: 30px;
            width: 50px;
            height: 50px;
        }
    }

/* ABOUT RESPONSIVE */
    @media only screen and (max-width:1441px) {

    }
    @media only screen and (max-width:1025px) {
        .aboutbg{
            background-color: #663A85;
        }
        .aboutname{
            font-family: 'Bungee';
            font-size: 50px;
            color: #BE9FE1;
            padding-left: 20px;
            
        }
        .about{
            font-family: 'Comfortaa';
            font-size: 18px;
            font-weight: 800;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
        }
        .img4{
            bottom: 0;
            right: 0;
            width: 330px;
            height: 200px;
        }
        .img8{
            top: 130px;
            left: 130px;
            width: 400px;
            height: 400px;
        }
        .img9{
            top: 150px;
            right: 150px;
            width: 130px;
            height: 130px;
        }
        .me2{
            height: 70vh;
        }
        
    }
    @media only screen and (max-width:769px) {
        .aboutbg{
            background-color: #663A85;
        }
        .aboutname{
            font-family: 'Bungee';
            font-size: 40px;
            color: #BE9FE1;
            padding-left: 20px;
            
        }
        .about{
            font-family: 'Comfortaa';
            font-size: 18px;
            font-weight: 800;
            color: white;
            padding-left: 20px;
            padding-left: 20px;
        }
        .img4{
            bottom: 0;
            right: 0;
            width: 330px;
            height: 200px;
        }
        .img8{
            top: 150px;
            left: 100px;
            width: 300px;
            height: 300px;
        }
        .img9{
            top: 150px;
            right: 100px;
            width: 100px;
            height: 100px;
        }
        .me2{
            height: 550px;
            width: 400px;
        }
        
    }
    @media only screen and (max-width:426px) {
        .me2{
            height: 350px;
            width: 350px;
        }
        .aboutname{
            font-family: 'Bungee';
            font-size: 30px;
            color: #BE9FE1;
            margin-left: 40px;
            
        }
        .about{
            font-family: 'Comfortaa';
            font-size: 15px;
            font-weight: 800;
            color: white;
            margin-left: 10px;
            margin-right: 10px;
        }
        .img4{
            bottom: 0;
            right: 0;
            width: 200px;
            height: 130px;
        }
        .img8{
            top: 10px;
            left: 150px;
            width: 250px;
            height: 250px;
        }
        .img9{
            top: 400px;
            left: 200px;
            width: 80px;
            height: 80px;
        }
    }
    @media only screen and (max-width:376px) {
        .me2{
            height: 300px;
            width: 300px;
        }
        .aboutname{
            font-family: 'Bungee';
            font-size: 30px;
            color: #BE9FE1;
            margin-left: 40px;
            
        }
        .about{
            font-family: 'Comfortaa';
            font-size: 15px;
            font-weight: 800;
            color: white;
            margin-left: 10px;
            margin-right: 10px;
        }
        .img4{
            bottom: 0;
            right: 0;
            width: 180px;
            height: 100px;
        }
        .img8{
            top: 50px;
            left: 150px;
            width: 200px;
            height: 200px;
        }
        .img9{
            top: 350px;
            right: 100px;
            width: 80px;
            height: 80px;
        }
    }

/* EDUCATION RESPONSIVE */
    @media only screen and (max-width:1441px) {

    }
    @media only screen and (max-width:1025px) {
        .bg{
            background-color: #BE9FE1;
        }
        .educname{
            font-family: 'Bungee';
            font-size: 50px;
            padding-top:50px;
            color: #663A85;
        }
        .educhead{
            font-family: 'Anton';
            font-size: 20px;
        }
        .educbody{
            font-family: 'Arimo';
            font-size: 20px;
        }
        .img5{
            top: 130px;
            left: 30px;
            width: 110px;
            height: 110px;
        }
        .img6{
            top: 60px;
            right: 280px;
            width: 150px;
            height: 150px;
        }
        .card{
            height: 25;
            width: 90%;
        }
        .icon{
            height:2em;
        }
    }
    @media only screen and (max-width:769px) {
        .bg{
            background-color: #BE9FE1;
        }
        .educname{
            font-family: 'Bungee';
            font-size: 40px;
            padding-top:50px;
            color: #663A85;
        }
        .educhead{
            font-family: 'Anton';
            font-size: 18px;
        }
        .educbody{
            font-family: 'Arimo';
            font-size: 18px;
        }
        .img5{
            top: 130px;
            left: 30px;
            width: 100px;
            height: 100px;
        }
        .img6{
            top: 60px;
            right: 180px;
            width: 150px;
            height: 150px;
        }
        .card{
            height: 25;
            width: 90%;
        }
        .icon{
            height:2em;
        }
        
    }
    @media only screen and (max-width:426px) {
        .educname{
            font-family: 'Bungee';
            font-size: 33px;
            color: #663A85;
            padding-top:30px;
        }
        .card{
            height: 20vh;
            width: 85%;
            margin-bottom: 5px;
        }
        .icon{
            height:1.5em;
        }
        
        .educhead{
            font-family: 'Anton';
            font-size: 18px;
        }
        .educbody{
            font-family: 'Arimo';
            font-size: 15px;
        }
        .img5{
            top: 55px;
            left: 30px;
            width: 50px;
            height: 50px;
        }
        .img6{
            top: 20px;
            right: 50px;
            width: 100px;
            height: 100px;
        }
    }
    @media only screen and (max-width:376px) {
        .educname{
            font-family: 'Bungee';
            font-size: 30px;
            color: #663A85;
            padding-top:30px;
        }
        .card{
            height: 20vh;
            width: 80%;
            margin-bottom: 5px;
        }
        .icon{
            height:1em;
        }
        
        .educhead{
            font-family: 'Anton';
            font-size: 15px;
        }
        .educbody{
            font-family: 'Arimo';
            font-size: 15px;
        }
        .img5{
            top: 53px;
            left: 30px;
            width: 50px;
            height: 50px;
        }
        .img6{
            top: 20px;
            right: 30px;
            width: 100px;
            height: 100px;
        }
    }

/* SKILLS RESPONSIVE */
    @media only screen and (max-width:1441px) {

    }
    @media only screen and (max-width:1025px) {
        .skillsname{
            font-family: 'Bungee';
            font-size: 50px;
            color: #663A85;
            padding-top:50px;
        }
        .img7{
            top: 30px;
            right: 350px;
            width: 80px;
            height: 80px;
        }
        .skill{
            height: 70vh; 
            width: 100%;
        }
        .skillrow{
            height: 100vh;
        }
    }
    @media only screen and (max-width:769px) {
        .skillsname{
            font-family: 'Bungee';
            font-size: 40px;
            color: #663A85;
            padding-top:50px;
        }
        .img7{
            top: 30px;
            right: 250px;
            width: 70px;
            height: 70px;
        }
        .skill{
            height: 70vh; 
            width: 100%;
        }
        .skillrow{
            height: 100vh;
        }
    }
    @media only screen and (max-width:426px) {
        .skillrow{
            height: 180vh;
        }
        .skillsname{
            font-family: 'Bungee';
            font-size: 33px;
            color: #663A85;
            padding-top:30px;
        }
        .img7{
            top: 20px;
            right: 100px;
            width: 60px;
            height: 60px;
        }
        .skill{
            height: 25vh; 
            width: 80%;
        }
    }
    @media only screen and (max-width:376px) {
        .skillrow{
            height: 150vh;
        }
        .marg{
            margin-top: 0;
        }
        .skillsname{
            font-family: 'Bungee';
            font-size: 30px;
            color: #663A85;
            padding-top:30px;
        }
        .img7{
            top: 25px;
            right: 85px;
            width: 50px;
            height: 50px;
        }
        .skill{
            height: 20vh; 
            width: 80%;
        }
    }

/* WORKS RESPONSIVE */
    @media only screen and (max-width:1441px) {

    }
    @media only screen and (max-width:1025px) {
        .worksname{
            font-family: 'Bungee';
            font-size: 50px;
            color: #663A85;
        }
        .skillsbg{
            background-color: #663A85;
        }
        .carousel-dark .carousel-indicators [data-bs-target] {
            background-color: #663A85;
            height: 10px;
        }
        .carou1{
            font-family: 'Bungee';
            font-weight: bold;
            color: #663A85;
            
        }
        .carou{
            font-family: 'Bungee';
            font-weight: bold;
            color: #BE9FE1;
            
        }
        .img10{
            top: 130px;
            right: 130px;
            width: 90px;
            height: 90px;
        }
        .img12{
            top: 35px;
            left: 200px;
            width: 90px;
            height: 90px;
        }
        .work1{
            width: 30%;
        }
        .imgcarou{
            
            height: 50vh;
        }
        .work2{
            width: 40%;
        }
    
    }
    @media only screen and (max-width:769px) {
        .worksname{
            font-family: 'Bungee';
            font-size: 40px;
            color: #663A85;
        }
        .skillsbg{
            background-color: #663A85;
        }
        .carousel-dark .carousel-indicators [data-bs-target] {
            background-color: #663A85;
            height: 10px;
        }
        .carou1{
            font-family: 'Bungee';
            font-weight: bold;
            color: #663A85;
            
        }
        .carou{
            font-family: 'Bungee';
            font-weight: bold;
            color: #BE9FE1;
            
        }
        .img10{
            top: 130px;
            right: 130px;
            width: 80px;
            height: 80px;
        }
        .img12{
            top: 35px;
            left: 200px;
            width: 80px;
            height: 80px;
        }
        .work1{
            width: 30%;
        }
        .imgcarou{
            
            height: 50vh;
        }
        .work2{
            width: 40%;
        }
    
    }
    @media only screen and (max-width:426px) {
        .worksname{
            font-family: 'Bungee';
            font-size: 33px;
            margin-top: 30px;
            color: #663A85; 
        }
        .carousel-dark .carousel-indicators [data-bs-target] {
            background-color: #663A85;
            height: 5px;
        }
        .carou1{
            font-family: 'Bungee';
            font-weight: bold;
            color: #663A85;
            
        }
        .carou{
            font-family: 'Bungee';
            font-weight: bold;
            color: #BE9FE1;
            
        }
        .img10{
            top: 50px;
            right: 75px;
            width: 50px;
            height: 50px;
        }
        .img12{
            top: 35px;
            left: 85px;
            width: 50px;
            height: 50px;
        }
        .work1{
            width: 100%;
        }
        .work2{
            width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .imgcarou{
            
            height: 25vh;
        }
    
    }
    @media only screen and (max-width:376px) {
        .worksname{
            font-family: 'Bungee';
            font-size: 30px;
            margin-top: 30px;
            color: #663A85; 
        }
        .carousel-dark .carousel-indicators [data-bs-target] {
            background-color: #663A85;
            height: 5px;
        }
        .carou1{
            font-family: 'Bungee';
            font-weight: bold;
            color: #663A85;
            
        }
        .carou{
            font-family: 'Bungee';
            font-weight: bold;
            color: #BE9FE1;
            
        }
        .img10{
            top: 50px;
            right: 50px;
            width: 50px;
            height: 50px;
        }
        .img12{
            top: 35px;
            left: 60px;
            width: 50px;
            height: 50px;
        }
        .work1{
            width: 100%;
        }
        .work2{
            width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .imgcarou{
            
            height: 25vh;
        }
    
    }

/* CONTACTS RESPONSIVE */
    @media only screen and (max-width:1441px) {

    }
    @media only screen and (max-width:1025px) {
        .contactsbg{
            background-color: #BE9FE1;
        }
        .contactborder{
            background-color: #663A85;
            border: 10px ridge #663A85;
            height: 70vh; 
            width: 80%;
        }
        .contactshname{
            color: #BE9FE1;
            font-size: 20px;
            font-family: 'Anton';
        }
        .contactsname{
            color: #BE9FE1;
            font-size: 17px;
            font-weight: 900;
            font-family: 'Comfortaa';
        }
        .inputform{
            width: 350px;
            margin: auto;
        }
        .contactbtn{
            font-family: 'Bungee';
            border-radius: 20px;
            border: 3px solid #663A85;
            background-color: #BE9FE1;
            width: 200px ;
            margin: auto;
        }
        .contactbtn:hover{
            font-family: 'Bungee';
            border-radius: 20px;
            border: 3px solid #663A85;
            background-color: #663A85;
            color: #BE9FE1;
        }
        .img13{
            width: 200px;
            height: 250px;
            bottom: 0;
            left: 0;
            padding: 0;
        }
        .img14{
            right: 0;
            width: 200px;
            height: 200px;
        }
        .img15{
            top: 180px;
            left: 300px;
            width: 400px;
            height: 400px;
            opacity: 50%;
        }
        .contactshead{
            font-family: 'Bungee';
            font-size: 50px;
            color: #663A85;
        }
    }
    @media only screen and (max-width:769px) {
        .contactsbg{
            background-color: #BE9FE1;
        }
        .contactborder{
            background-color: #663A85;
            border: 10px ridge #663A85;
            height: 70vh; 
            width: 80%;
        }
        .contactshname{
            color: #BE9FE1;
            font-size: 20px;
            font-family: 'Anton';
        }
        .contactsname{
            color: #BE9FE1;
            font-size: 17px;
            font-weight: 900;
            font-family: 'Comfortaa';
        }
        .inputform{
            width: 300px;
            margin: auto;
        }
        .contactbtn{
            font-family: 'Bungee';
            border-radius: 20px;
            border: 3px solid #663A85;
            background-color: #BE9FE1;
            width: 200px ;
            margin: auto;
        }
        .contactbtn:hover{
            font-family: 'Bungee';
            border-radius: 20px;
            border: 3px solid #663A85;
            background-color: #663A85;
            color: #BE9FE1;
        }
        .img13{
            width: 150px;
            height: 200px;
            bottom: 0;
            left: 0;
            padding: 0;
        }
        .img14{
            right: 0;
            width: 200px;
            height: 200px;
        }
        .img15{
            top: 180px;
            left: 200px;
            width: 350px;
            height: 350px;
            opacity: 50%;
        }
        .contactshead{
            font-family: 'Bungee';
            font-size: 40px;
            color: #663A85;
        }
        
    }
    @media only screen and (max-width:426px) {
        .contactborder{
            background-color: #663A85;
            border: 5px ridge #663A85;
            height: 40vh; 
            width: 70%;
        }
        .contactshead{
            font-family: 'Bungee';
            font-size: 33px;
            margin-top: 30px;
            color: #663A85;
        }
        .contactshname{
            color: #BE9FE1;
            font-size: 18px;
            font-family: 'Anton';
        }
        .contactsname{
            color: #BE9FE1;
            font-size: 16px;
            font-weight: 900;
            font-family: 'Comfortaa';
        }
        .inputform{
            width: 280px;
            margin: auto;
        }
        .contactbtn{
            font-family: 'Bungee';
            border-radius: 20px;
            border: 3px solid #663A85;
            background-color: #BE9FE1;
            width: 150px ;
            margin: auto;
        }
        .contactbtn:hover{
            font-family: 'Bungee';
            border-radius: 20px;
            border: 3px solid #663A85;
            background-color: #663A85;
            color: #BE9FE1;
        }
        .img13{
            width: 110px;
            height: 160px;
            bottom: 0;
            left: 0;
            padding: 0;
        }
        .img14{
            right: 0;
            width: 130px;
            height: 130px;
        }
        .img15{
            top: 310px;
            left: 50px;
            width: 200px;
            height: 200px;
            opacity: 50%;
        }
    }
    @media only screen and (max-width:376px) {
        .contactborder{
            background-color: #663A85;
            border: 5px ridge #663A85;
            height: 40vh; 
            width: 80%;
        }
        .contactshead{
            font-family: 'Bungee';
            font-size: 30px;
            margin-top: 30px;
            color: #663A85;
        }
        .contactshname{
            color: #BE9FE1;
            font-size: 16px;
            font-family: 'Anton';
        }
        .contactsname{
            color: #BE9FE1;
            font-size: 15px;
            font-weight: 900;
            font-family: 'Comfortaa';
        }
        .inputform{
            width: 250px;
            margin: auto;
        }
        .contactbtn{
            font-family: 'Bungee';
            border-radius: 20px;
            border: 3px solid #663A85;
            background-color: #BE9FE1;
            width: 150px ;
            margin: auto;
        }
        .contactbtn:hover{
            font-family: 'Bungee';
            border-radius: 20px;
            border: 3px solid #663A85;
            background-color: #663A85;
            color: #BE9FE1;
        }
        .img13{
            width: 100px;
            height: 150px;
            bottom: 0;
            left: 0;
            padding: 0;
        }
        .img14{
            right: 0;
            width: 100px;
            height: 100px;
        }
        .img15{
            top: 300px;
            left: 0px;
            width: 250px;
            height: 250px;
            opacity: 50%;
        }
    }